*{
  font-family: Arial, Helvetica, sans-serif;
}
.main{
  display: inline-block;
  margin-left: 600px;
  margin-top: 55px;
  background-color: brown;
  padding-bottom: 200px;
  padding-left: 65px;
  padding-right: 65px;
  border-radius: 30px
}
.App {
  background-color: brown;
  display: inline-block;
  margin-top: 125px;
  
}
.add-btn{
  font-weight: 600;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 1px;
}
.add-btn:hover{
  background-color: white;
  color: black;
}
.dlt-btn{
  font-weight: 600;
  background-color: black;
  color: white;
  cursor: pointer;
}
.dlt-btn:hover{
  background-color: white;
  color: black;
}

